#bio-jumbotron {
  text-align: center;
}

#bio-cards {
  background-color: #F8F8F8F8;
  padding: 150px;
}

#bio-cards .card {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0.2);
}

#bio-article  {
  padding: 50px 0;
  column-count: 2;
  column-gap: 20px;
  background-color: #cdf5fd;
  }

#bio-article img {
  display: block;
  width: 100%;
  height: auto;
}
#bio-article img {
    display: block;
    width: 100%;
    height: auto;
}
