#bio-jumbotron {
  text-align: center;
}

#bio-cards {
  background-color: #F8F8F8F8;
  padding: 150px;

}

#bio-cards .card {
  box-shadow: 0 0 5px 1px rgba(0, 0, 0.2);
}

#bio-article img {
    display: block;
    width: 100%;
    height: auto;

}