h1 {
  font-family: 'Lobster Two', cursive;
  text-shadow: 0px 1px 0px black;
  color: white;
}

#bio-titre {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 38px;
  color: white;
}

#bio-jumbotron .col1 {
  padding: 37px;
}

#bio-jumbotron .col2 {
  padding: 37px;
  background-color: #4478e3;
}

#bio-jumbotron .col3 {
  padding: 37px;
}

#bio-jumbotron .col4 {
  padding: 37px;
  background-color: #4478e3;
}

#bio-jumbotron .bio-texte1 {
  text-align: center;
  padding-top: 150px;
  color: white;
}

#bio-jumbotron .bio-texte2 {
  text-align: center;
  color: white;
}

#bio-jumbotron .bio-texte3 {
  text-align: center;
  padding-bottom: 150px;
  color: white;
}

#bio-jumbotron .bio-texte4 {
  text-align: center;
  color: white;
}

#tech-jumbotron .bio-img {
  padding-left: 180px;
}