

h1 {
  font-family: 'Lobster Two', cursive;
  text-shadow: 0px 1px 0px black;
  color: white;
}
#formulaire {
padding: 100px;
  color: white;
}

#contact-titre {
  text-align: center;
  padding-top: 50px;
  color: white;
}