* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#home-cards {
  align-content: center;
  display: flex;
  padding-left: 230px;
  justify-content: space-between;
  padding-top: 75px;
  padding-bottom: 75px;
}

#home-cards .card-1{
  padding-right: 150px;
}

#home-cards .btn-1{
 padding-left:150px;
}

#home-cards .btn-2{
  padding-left: 130px;
}

#home-entete {
  background-color: #9ed1ff;
}

#home-entete .titre {
  padding-top: 300px;
  padding-left: 200px;
  color:  white;
}

#home-conception {
  background-color: slategrey;
  color: white;
  padding-bottom: 30px;
  padding-top: 50px;
  text-align: center;
}

#home-carousel {
  margin-top: 75px;
  margin-left: 500px;
}
