#techno-titre {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 38px;
}

#tech-jumbotron .col1 {
  padding: 37px;
}

#tech-jumbotron .col2 {
  padding: 37px;
  background-color: #4478e3;
}

#tech-jumbotron .col3 {
  padding: 37px;
}

#tech-jumbotron .tech-texte1 {
  text-align: center;
  padding-top: 150px;
}

#tech-jumbotron .tech-texte2 {
  text-align: center;
}

#tech-jumbotron .tech-texte3 {
  text-align: center;
  padding-bottom: 120px;
}

#tech-jumbotron .tech-img {
  padding-left: 180px;
}