#techno-titre {
  text-align: center;
  padding-top: 75px;
  padding-bottom: 38px;
}

#tech-jumbotron .col1 {
  padding: 37px;
}

#tech-jumbotron .col2 {
  padding: 37px;
  background-color: white;
}

#tech-jumbotron .col3 {
  padding: 37px;
}
